# SETUP INSTRUCTIONS
## assign unique-encounters_path to the path of the unique encounters file

# SLURM CONFIGURATION
num_processes: "7"
processor_assignment: "1"
# PIPELINE INSTRUCTIONS
make_pickle: "yes" # yes: make pickle files, no: do not make pickle files
make_dictionary: "yes" # yes: make dictionary files, no: do not make dictionary files
# FILE PATHS
data_path: "/hpc/group/kamaleswaranlab/EmoryDataset/EMR_RAW"
groupings_path: "/cwork/jfr29/Sepy/groupings"
pickle_output_path: "/cwork/jfr29/Sepy/pickle/"
dictionary_output_path: "/hpc/group/kamaleswaranlab/EmoryDataset/EMR_Supertables/"
bed_unit_csv_fname:  "/cwork/jfr29/Sepy/AdditionalInformation/bed_units_to_icu_AH.csv"
variable_bounds_csv_fname : "/cwork/jfr29/Sepy/AdditionalInformation/Variable_Chart.csv"
dialysis_info_csn_fname: "/cwork/jfr29/Sepy/AdditionalInformation/PEACH_HD_CRRT.csv"
unique_encounters_path: 
  2014: "/hpc/group/kamaleswaranlab/EmoryDataset/EMR_RAW/2014/CJSEPSIS_ENCOUNTER_2014.dsv"
  2015: "/hpc/group/kamaleswaranlab/EmoryDataset/EMR_RAW/2015/CJSEPSIS_ENCOUNTER_2015.dsv"
  2016: "/hpc/group/kamaleswaranlab/EmoryDataset/EMR_RAW/2016/CJSEPSIS_ENCOUNTER_2016.dsv"
  2017: "/hpc/group/kamaleswaranlab/EmoryDataset/EMR_RAW/2017/CJSEPSIS_ENCOUNTER_2017.dsv"
  2018: "/hpc/group/kamaleswaranlab/EmoryDataset/EMR_RAW/2018/CJSEPSIS_ENCOUNTER_2018.dsv"
  2019: "/hpc/group/kamaleswaranlab/EmoryDataset/EMR_RAW/2019/CJSEPSIS_ENCOUNTER_2019.dsv"
  2020: "/hpc/group/kamaleswaranlab/EmoryDataset/EMR_RAW/2020/CJSEPSIS_ENCOUNTER_2020.dsv"
  2021: "/hpc/group/kamaleswaranlab/EmoryDataset/EMR_RAW/2021/CJSEPSIS_ENCOUNTER_2021.dsv"
  2022: "/hpc/group/kamaleswaranlab/EmoryDataset/EMR_RAW/2022/CJSEPSIS_ENCOUNTER_2022.dsv"
dataset_identifier: "em_y"
years_to_scrape_data: ["2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022"]
# CSN FILTERING
encounter_type: "IN" # "EM = Emergency", "IN" = Inpatient, "all" = all encounter types
age: "adult" # "adult": age >= 18, "pediatric": age < 18, "all": all ages
unique_enc_filter: "yes" # "yes": only unique encounters, "no": all encounters
unique_enc: 
  - "2f4a440b5d3a848e9bf4d0c879f9a53a0aa41fd120cc55da5bfd958ef90321f7"
  - "b06d98232b0a62801c9db3f685003a84f850b747e99e2d3a347f2272303763aa"
  - "a3d43407896d7364d3e564af5774c0e0c8845a8753bee700028e4da447106540"
  - "e457192884c04c4a674b4fa582f0ed935d417db52922acfc7513c7630c25d394"
  - "0bd9525be5a91937e11d5faa494adab366b3af77842ed101553fd79a23033f32"
  - "e10c48b3210e562b25676f2381e6498e143513c35ba035842d46209dc35cf727"
  # - CSN2
  # - CSN3
# DICTIONARY PATH KEWORDS
dictionary_paths:
  comorbidity_types:
    - "ICD9_ahrq"
    - "ICD9_elix"
    - "ICD9_quan_deyo"
    - "ICD9_quan_elix"
    - "ICD9_single_ccs"
    - "ICD10_ahrq"
    - "ICD10_elix"
    - "ICD10_quan_deyo"
    - "ICD10_quan_elix"
    - "ICD10_single_ccs"
  grouping_types:
    - "em_all_infusion_meds"
    - "em_grouping_labs"
    - "em_bed_labels"
  year_types:
    - ["INFUSIONMEDS", "INFUSIONMEDS"]
    - ["LABS", "LABS"]
    - ["VITALS", "VITALS"]
    - ["VENT", "VENT"]
    - ["DEMOGRAPHICS", "DEMOGRAPHICS"]
    - ["GCS", "GCS"]
    - ["ENCOUNTER", "ENCOUNTER"]
    - ["CULTURES", "CULTURES"]
    - ["BEDLOCATION", "BEDLOCATION"]
    - ["ORPROCEDURES", "ORPROCEDURES"]
    - ["DIAGNOSIS", "DIAGNOSIS"]
# YEARLY INSTANCE FUNCTIONS AND PARAMETERS
yearly_instance:
  import_demographics:
    drop_cols: []
    index_col: ["pat_id"]
    date_cols: [] # removed 'dob'
  import_encounters:
    drop_cols: []
    index_col: ["csn"]
    date_cols:
      - "ed_presentation_time"
      - "hospital_admission_date_time"
      - "hospital_discharge_date_time"
  import_infusion_meds:
    drop_cols: []
    numeric_cols:
      - "order_med_id"
      - "medication_id"
    anti_infective_group_name: "anti-infective"
    vasopressor_group_name: "vasopressor"
    index_col: ["csn"]
    date_cols:
      - "med_order_time"
      - "med_action_time"
      - "med_start"
      - "med_stop"
  import_labs:
    drop_cols: []
    group_cols:
      - "physionet"
      - "import"
      - "super_table_col_name"
      - "component_id"
    date_cols:
      - "collection_time"
      - "lab_result_time"
    index_col: ["csn"]
    numeric_cols: null
  import_vitals:
    drop_cols: []
    index_col: ["csn"]
    date_cols: ["recorded_time"]
    merge_cols: null
  import_vent:
    drop_cols: []
    index_col: ["csn"]
    numeric_cols:
      - "vent_rate_set"
      - "vent_tidal_rate_set"
      - "vent_tidal_rate_exhaled"
      - "peep"
      - "fio2"
    date_cols:
      - "recorded_time"
      - "vent_start_time"
      - "vent_stop_time"
  import_gcs:
    drop_cols: []
    index_col: ["csn"]
    numeric_col:
      - "gcs_eye_score"
      - "gcs_verbal_score"
      - "gcs_motor_score"
      - "gcs_total_score"
    date_cols: ["recorded_time"]
  import_cultures:
    drop_cols: []
    index_col: ["csn"]
    date_cols:
      - "specimen_collect_time"
      - "order_time"
      - "lab_result_time"
  import_bed_locations:
    drop_cols: []
    index_col: ["csn"]
    date_cols:
      - "bed_location_start"
      - "bed_location_end"
  import_procedures:
    drop_cols: []
    index_col: ["csn"]
    date_cols:
      - "surgery_date"
      - "in_or_dttm"
      - "procedure_start_dttm"
      - "procedure_comp_dttm"
      - "out_or_dttm"
  import_diagnosis:
    drop_cols: []
    index_col: ["csn"]
    date_cols: ["dx_time_date"]
# COMORBIDITY SUMMARY KEYWORDS
comorbidity_summary:
  - "ICD10_quan_deyo"
  - "ICD10_quan_elix"
  # - "ICD9_ahrq"
  # - "ICD9_elix"
  # - "ICD9_quan_deyo"
  # - "ICD9_quan_elix"
  # - "ICD9_single_ccs"
  # - "ICD10_ahrq"
  # - "ICD10_elix"
  # - "ICD10_single_ccs"
# SEPSIS SUMMARY DIRECTORY PATHES
sepsis_summary: "em_sepsis_summary"
sepsis_summary_types:
  - "sofa_summary"
  - "sep3_summary"
  - "sirs_summary"
  - "sep2_summary"
  - "encounter_summary"
  - "error_summary"
  # - "ahrq_ICD10_summary"
  # - "elix_ICD10_summary"
  - "quan_deyo_ICD10_summary"
  - "quan_elix_ICD10_summary"
  # - "ccs_ICD10_summary"